/**
 * Support: web-master72@yandex.ru;
 * Author: web-master72
 * 
 *
/* ---------------------------------------------- /*
 * General styles
/* ---------------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700);



/* ---------------------------------------------- /*
 * Reset box-shadow
/* ---------------------------------------------- */

.btn,
.panel,
.progress,
.form-control,
.modal-content,
.form-control:hover, 
.form-control:focus {
	-webkit-box-shadow: none;
			box-shadow: none;
}

/* ---------------------------------------------- /*
 * Reset border-radius
/* ---------------------------------------------- */

.btn,
.label,
.alert,
.avatar,
.progress,
.form-control,
.modal-content,
.panel-group .panel,
.widget-social li a {
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
		 -o-border-radius: 3px;
			border-radius: 3px;
}

/* ---------------------------------------------- /*
 * Inputs styles
/* ---------------------------------------------- */

.form-control {
	background: #FFF;
	border: 2px solid #C4C4C4;
	height: 54px;
	font-size: 14px;
	padding: 15px;
	color: #777;
}

.input-lg, .form-horizontal .form-group-lg .form-control {
	height: 62px;
}

.input-sm, .form-horizontal .form-group-sm .form-control {
	height: 40px;
	font-size: 12px;
}

/* ---------------------------------------------- /*
 * Custom button style
/* ---------------------------------------------- */

.btn {
	font-weight: 700;
	font-size: 14px;
	padding: 17px 27px;
	border: 0;
}

.btn:hover, .btn:focus, .btn:active, .btn.active {
	outline: inherit !important;
}

/* Button icons */

.btn .icon-before {
	margin-right: 6px;
}

.btn .icon-after {
	margin-left: 6px;
}

/* Button size */

.btn-lg, .btn-group-lg > .btn {
	padding: 22px 24px;
	font-size: 14px;
}

.btn-sm, .btn-group-sm > .btn {
	padding: 11px 18px;
	font-weight: 400;
	font-size: 12px;
}

.btn-xs, .btn-group-xs > .btn {
	padding: 7px 14px;
	font-size: 10px;
}

.btn-list .btn {
	margin-bottom: 5px;
}

/* Button types*/

.btn-default {
	background: #EEEEEE;
}

.btn-custom-1, .btn-custom-2 {
	background: transparent;
	border: 2px solid #EF4836;
	padding: 15px 25px;
}

.btn-custom-2 {
	border: 2px solid #222;
}

.btn-custom-1:hover, .btn-custom-1:focus, .btn-custom-1:active, .btn-custom-1.active {
	background: #EF4836;
	border: 2px solid #EF4836;
	color: #FFF;
}

.btn-custom-2:hover, .btn-custom-2:focus, .btn-custom-2:active, .btn-custom-2.active {
	background: #222;
	border: 2px solid #222;
	color: #FFF;
}



/* ---------------------------------------------- /*
 * General
/* ---------------------------------------------- */

.wrapper {
	overflow: hidden;
}

.section, .callout {
	position: relative;
	padding: 50px 0;
}

.callout {
	background: #F5F5F5;
}

.headline {
	margin: 0 0 60px;
}

.headline p {
	font-weight: 700;
	color: #C4C4C4;
}

.callout-btn {
	margin-top: 10px;
}

.rotate {
	text-shadow: 0 0 0 !important;
}

.nomargin {
	margin: 0 !important;
}

.long-down {
	margin-bottom: 40px;
}

.icon-list {
	list-style: none;
	padding: 0px;
}

.icon-list > li > i {
	margin-right: 6px;
}

h3 > .fa {
	font-size: 24px;
	margin-right: 6px;
}

.mouse-icon {
	position: relative;
	border: 2px solid #fff;
	border-radius: 16px;
	height: 50px;
	width: 30px;
	margin: 0 auto;
	display: block;
	z-index: 10;
}

.mouse-icon .wheel {
	-webkit-animation-name: drop;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;
	animation-name: drop;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-play-state: running;
}

.mouse-icon .wheel {
	position: relative;
	border-radius: 10px;
	background: #fff;
	width: 4px;
	height: 10px;
	top: 4px;
	margin-left: auto;
	margin-right: auto;
}

@-webkit-keyframes drop	{
	0%   { top:5px;  opacity: 0;}
	30%  { top:10px; opacity: 1;}
	100% { top:25px; opacity: 0;}
}

@keyframes drop	{
	0%   { top:5px;  opacity: 0;}
	30%  { top:10px; opacity: 1;}
	100% { top:25px; opacity: 0;}
}

/
/* ---------------------------------------------- /*
 * Intro
/* ---------------------------------------------- */

#intro {
	padding: 260px 0 160px 0;
	text-align: center;
	color: #FFF;
}

#intro h1, #intro h2, #intro h3, #intro h4, #intro h5, #intro h6 {
	color: #FFF;
}

.hello {
	margin: 0 0 100px;
}

/* ---------------------------------------------- /*
 * Profile-contact
/* ---------------------------------------------- */

#profile-contact {
	box-shadow: 0 0 4px rgba(0, 0, 0, .2);
	padding: 20px 0;
}

.profile-item i {
	display: block;
	line-height: 42px;
	font-size: 32px;
	color: #222;
}

.profile-widget {
	margin-bottom: 40px;
}

.widget-social {
	padding: 0;
	margin: 0;
}

.widget-social li {
	display: inline-block;
	margin-right: 5px;
}

.widget-social li a {
	background: #2e2e2e;
	text-align: center;
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 1.25em;
	color: #FFF;
}

.widget-social li a:hover {
	background: #EF4836;
}

.stat .stat-icon {
	margin-bottom: 10px;
	font-size: 32px;
	color: #222;
}

.stat .stat-icon i {
	margin-right: 10px;
}


/* ---------------------------------------------- /*
 * Resume
/* ---------------------------------------------- */

.resume-items {
	margin-bottom: 40px;
}

.resume-place {
	margin-bottom: 20px;
}

.resume-place > i,
.resume-place > h4 > i {
	color: #C4C4C4;
	font-size: 14px;
	margin-right: 5px;
}

/* ---------------------------------------------- /*
 * Clients
/* ---------------------------------------------- */

.owl-theme .owl-item {
	text-align: center;
}

.owl-theme .owl-controls .owl-page span {
	margin: 0 4px;
}

.owl-theme .owl-controls .owl-page span {
	border-radius: 0;
	width: 40px;
	height: 4px;
}

.owl-theme .owl-controls .owl-pagination {
	margin-top: 20px;
}

/* ---------------------------------------------- /*
 * Contact
/* ---------------------------------------------- */

#contact {
	background: #18191a;
	color: #FFF;
}

#contact h1, #contact h2, #contact h3, #contact h4, #contact h5, #contact h6 {
	color: #FFF;
}

#contact .form-control {
	border: 0;
}

.ajax-response {
	margin-top: 15px;
}

#footer {
	background: #141414;
	padding: 20px 0;
	color: #FFF;
}

#footer .copy {
	font-size: 12px;
	margin: 5px 0;
}

/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */

#preloader {
	background: #FFF;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9999;
}

#status, .status-mes {
	background-image: url(../images/488.GIF);
	background-position: center;
	background-repeat: no-repeat;
	height: 200px;
	left: 50%;
	margin: -100px 0 0 -100px;
	position: absolute;
	top: 50%;
	width: 200px;
}

.status-mes {
	background: none;
	left: 0;
	margin: 0;
	text-align: center;
	top: 65%; 
}

.status-mes h4 {
	color: #222;
	margin-top: 30px;
}

/* ---------------------------------------------- /*
 * Media
/* ---------------------------------------------- */

@media (max-width: 767px) {

	.wrapper {
		text-align: center;
	}

	#profile-contact .profile-item {
		margin: 0 0 20px;
	}

	#stats .stat {
		margin: 0 0 20px;
	}

}


.media {
    margin-top: 15px
}
.media:first-child {
    margin-top: 0
}
.media-right,
.media>.pull-right {
    padding-left: 10px
}
.media-left,
.media>.pull-left {
    padding-right: 10px
}
.media-left,
.media-right,
.media-body {
    display: table-cell;
    vertical-align: top
}
.media-middle {
    vertical-align: middle
}
.media-bottom {
    vertical-align: bottom
}
.media-heading {
    margin-top: 0;
    margin-bottom: 5px
}
.media-list {
    padding-left: 0;
    list-style: none
}
.list-group {
    padding-left: 0;
    margin-bottom: 20px
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd
}
.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px
}
.list-group-item>.badge {
    float: right
}
.list-group-item>.badge+.badge {
    margin-right: 5px
}
a.list-group-item {
    color: #555
}
a.list-group-item .list-group-item-heading {
    color: #333
}
a.list-group-item:hover,
a.list-group-item:focus {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5
}
.list-group-item.disabled,
.list-group-item.disabled:hover,
.list-group-item.disabled:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #eee
}
.list-group-item.disabled .list-group-item-heading,
.list-group-item.disabled:hover .list-group-item-heading,
.list-group-item.disabled:focus .list-group-item-heading {
    color: inherit
}
.list-group-item.disabled .list-group-item-text,
.list-group-item.disabled:hover .list-group-item-text,
.list-group-item.disabled:focus .list-group-item-text {
    color: #777
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: #428bca;
    border-color: #428bca
}
.list-group-item.active .list-group-item-heading,
.list-group-item.active:hover .list-group-item-heading,
.list-group-item.active:focus .list-group-item-heading,
.list-group-item.active .list-group-item-heading>small,
.list-group-item.active:hover .list-group-item-heading>small,
.list-group-item.active:focus .list-group-item-heading>small,
.list-group-item.active .list-group-item-heading>.small,
.list-group-item.active:hover .list-group-item-heading>.small,
.list-group-item.active:focus .list-group-item-heading>.small {
    color: inherit
}
.list-group-item.active .list-group-item-text,
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active:focus .list-group-item-text {
    color: #e1edf7
}
.list-group-item-success {
    color: #3c763d;
    background-color: #dff0d8
}
a.list-group-item-success {
    color: #3c763d
}
a.list-group-item-success .list-group-item-heading {
    color: inherit
}
a.list-group-item-success:hover,
a.list-group-item-success:focus {
    color: #3c763d;
    background-color: #d0e9c6
}
a.list-group-item-success.active,
a.list-group-item-success.active:hover,
a.list-group-item-success.active:focus {
    color: #fff;
    background-color: #3c763d;
    border-color: #3c763d
}
.list-group-item-info {
    color: #31708f;
    background-color: #d9edf7
}
a.list-group-item-info {
    color: #31708f
}
a.list-group-item-info .list-group-item-heading {
    color: inherit
}
a.list-group-item-info:hover,
a.list-group-item-info:focus {
    color: #31708f;
    background-color: #c4e3f3
}
a.list-group-item-info.active,
a.list-group-item-info.active:hover,
a.list-group-item-info.active:focus {
    color: #fff;
    background-color: #31708f;
    border-color: #31708f
}
.list-group-item-warning {
    color: #8a6d3b;
    background-color: #fcf8e3
}
a.list-group-item-warning {
    color: #8a6d3b
}
a.list-group-item-warning .list-group-item-heading {
    color: inherit
}
a.list-group-item-warning:hover,
a.list-group-item-warning:focus {
    color: #8a6d3b;
    background-color: #faf2cc
}
a.list-group-item-warning.active,
a.list-group-item-warning.active:hover,
a.list-group-item-warning.active:focus {
    color: #fff;
    background-color: #8a6d3b;
    border-color: #8a6d3b
}
.list-group-item-danger {
    color: #a94442;
    background-color: #f2dede
}
a.list-group-item-danger {
    color: #a94442
}
a.list-group-item-danger .list-group-item-heading {
    color: inherit
}
a.list-group-item-danger:hover,
a.list-group-item-danger:focus {
    color: #a94442;
    background-color: #ebcccc
}
a.list-group-item-danger.active,
a.list-group-item-danger.active:hover,
a.list-group-item-danger.active:focus {
    color: #fff;
    background-color: #a94442;
    border-color: #a94442
}
.list-group-item-heading {
    margin-top: 0;
    margin-bottom: 5px
}
.list-group-item-text {
    margin-bottom: 0;
    line-height: 1.3
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}
.panel-body {
    padding: 15px
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}
.panel-heading>.dropdown .dropdown-toggle {
    color: inherit
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit
}
.panel-title>a {
    color: inherit
}
.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px
}
.panel>.list-group,
.panel>.panel-collapse>.list-group {
    margin-bottom: 0
}
.panel>.list-group .list-group-item,
.panel>.panel-collapse>.list-group .list-group-item {
    border-width: 1px 0;
    border-radius: 0
}
.panel>.list-group:first-child .list-group-item:first-child,
.panel>.panel-collapse>.list-group:first-child .list-group-item:first-child {
    border-top: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}
.panel>.list-group:last-child .list-group-item:last-child,
.panel>.panel-collapse>.list-group:last-child .list-group-item:last-child {
    border-bottom: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px
}
.panel-heading+.list-group .list-group-item:first-child {
    border-top-width: 0
}
.list-group+.panel-footer {
    border-top-width: 0
}
.panel>.table,
.panel>.table-responsive>.table,
.panel>.panel-collapse>.table {
    margin-bottom: 0
}
.panel>.table caption,
.panel>.table-responsive>.table caption,
.panel>.panel-collapse>.table caption {
    padding-right: 15px;
    padding-left: 15px
}
.panel>.table:first-child,
.panel>.table-responsive:first-child>.table:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}
.panel>.table:first-child>thead:first-child>tr:first-child,
.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child,
.panel>.table:first-child>tbody:first-child>tr:first-child,
.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}
.panel>.table:first-child>thead:first-child>tr:first-child td:first-child,
.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:first-child,
.panel>.table:first-child>tbody:first-child>tr:first-child td:first-child,
.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:first-child,
.panel>.table:first-child>thead:first-child>tr:first-child th:first-child,
.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:first-child,
.panel>.table:first-child>tbody:first-child>tr:first-child th:first-child,
.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:first-child {
    border-top-left-radius: 3px
}
.panel>.table:first-child>thead:first-child>tr:first-child td:last-child,
.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:last-child,
.panel>.table:first-child>tbody:first-child>tr:first-child td:last-child,
.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:last-child,
.panel>.table:first-child>thead:first-child>tr:first-child th:last-child,
.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:last-child,
.panel>.table:first-child>tbody:first-child>tr:first-child th:last-child,
.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:last-child {
    border-top-right-radius: 3px
}
.panel>.table:last-child,
.panel>.table-responsive:last-child>.table:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px
}
.panel>.table:last-child>tbody:last-child>tr:last-child,
.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child,
.panel>.table:last-child>tfoot:last-child>tr:last-child,
.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px
}
.panel>.table:last-child>tbody:last-child>tr:last-child td:first-child,
.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:first-child,
.panel>.table:last-child>tfoot:last-child>tr:last-child td:first-child,
.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:first-child,
.panel>.table:last-child>tbody:last-child>tr:last-child th:first-child,
.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:first-child,
.panel>.table:last-child>tfoot:last-child>tr:last-child th:first-child,
.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:first-child {
    border-bottom-left-radius: 3px
}
.panel>.table:last-child>tbody:last-child>tr:last-child td:last-child,
.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:last-child,
.panel>.table:last-child>tfoot:last-child>tr:last-child td:last-child,
.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:last-child,
.panel>.table:last-child>tbody:last-child>tr:last-child th:last-child,
.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:last-child,
.panel>.table:last-child>tfoot:last-child>tr:last-child th:last-child,
.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:last-child {
    border-bottom-right-radius: 3px
}
.panel>.panel-body+.table,
.panel>.panel-body+.table-responsive,
.panel>.table+.panel-body,
.panel>.table-responsive+.panel-body {
    border-top: 1px solid #ddd
}
.panel>.table>tbody:first-child>tr:first-child th,
.panel>.table>tbody:first-child>tr:first-child td {
    border-top: 0
}
.panel>.table-bordered,
.panel>.table-responsive>.table-bordered {
    border: 0
}
.panel>.table-bordered>thead>tr>th:first-child,
.panel>.table-responsive>.table-bordered>thead>tr>th:first-child,
.panel>.table-bordered>tbody>tr>th:first-child,
.panel>.table-responsive>.table-bordered>tbody>tr>th:first-child,
.panel>.table-bordered>tfoot>tr>th:first-child,
.panel>.table-responsive>.table-bordered>tfoot>tr>th:first-child,
.panel>.table-bordered>thead>tr>td:first-child,
.panel>.table-responsive>.table-bordered>thead>tr>td:first-child,
.panel>.table-bordered>tbody>tr>td:first-child,
.panel>.table-responsive>.table-bordered>tbody>tr>td:first-child,
.panel>.table-bordered>tfoot>tr>td:first-child,
.panel>.table-responsive>.table-bordered>tfoot>tr>td:first-child {
    border-left: 0
}
.panel>.table-bordered>thead>tr>th:last-child,
.panel>.table-responsive>.table-bordered>thead>tr>th:last-child,
.panel>.table-bordered>tbody>tr>th:last-child,
.panel>.table-responsive>.table-bordered>tbody>tr>th:last-child,
.panel>.table-bordered>tfoot>tr>th:last-child,
.panel>.table-responsive>.table-bordered>tfoot>tr>th:last-child,
.panel>.table-bordered>thead>tr>td:last-child,
.panel>.table-responsive>.table-bordered>thead>tr>td:last-child,
.panel>.table-bordered>tbody>tr>td:last-child,
.panel>.table-responsive>.table-bordered>tbody>tr>td:last-child,
.panel>.table-bordered>tfoot>tr>td:last-child,
.panel>.table-responsive>.table-bordered>tfoot>tr>td:last-child {
    border-right: 0
}
.panel>.table-bordered>thead>tr:first-child>td,
.panel>.table-responsive>.table-bordered>thead>tr:first-child>td,
.panel>.table-bordered>tbody>tr:first-child>td,
.panel>.table-responsive>.table-bordered>tbody>tr:first-child>td,
.panel>.table-bordered>thead>tr:first-child>th,
.panel>.table-responsive>.table-bordered>thead>tr:first-child>th,
.panel>.table-bordered>tbody>tr:first-child>th,
.panel>.table-responsive>.table-bordered>tbody>tr:first-child>th {
    border-bottom: 0
}
.panel>.table-bordered>tbody>tr:last-child>td,
.panel>.table-responsive>.table-bordered>tbody>tr:last-child>td,
.panel>.table-bordered>tfoot>tr:last-child>td,
.panel>.table-responsive>.table-bordered>tfoot>tr:last-child>td,
.panel>.table-bordered>tbody>tr:last-child>th,
.panel>.table-responsive>.table-bordered>tbody>tr:last-child>th,
.panel>.table-bordered>tfoot>tr:last-child>th,
.panel>.table-responsive>.table-bordered>tfoot>tr:last-child>th {
    border-bottom: 0
}
.panel>.table-responsive {
    margin-bottom: 0;
    border: 0
}
.panel-group {
    margin-bottom: 20px
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px
}
.panel-group .panel+.panel {
    margin-top: 5px
}
.panel-group .panel-heading {
    border-bottom: 0
}
.panel-group .panel-heading+.panel-collapse>.panel-body,
.panel-group .panel-heading+.panel-collapse>.list-group {
    border-top: 1px solid #ddd
}
.panel-group .panel-footer {
    border-top: 0
}
.panel-group .panel-footer+.panel-collapse .panel-body {
    border-bottom: 1px solid #ddd
}
.panel-default {
    border-color: #ddd
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #ddd
}
.panel-default>.panel-heading .badge {
    color: #f5f5f5;
    background-color: #333
}
.panel-default>.panel-footer+.panel-collapse>.panel-body {
    border-bottom-color: #ddd
}
.panel-primary {
    border-color: #428bca
}
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #428bca;
    border-color: #428bca
}
.panel-primary>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #428bca
}
.panel-primary>.panel-heading .badge {
    color: #428bca;
    background-color: #fff
}
.panel-primary>.panel-footer+.panel-collapse>.panel-body {
    border-bottom-color: #428bca
}
.panel-success {
    border-color: #d6e9c6
}
.panel-success>.panel-heading {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6
}
.panel-success>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #d6e9c6
}
.panel-success>.panel-heading .badge {
    color: #dff0d8;
    background-color: #3c763d
}
.panel-success>.panel-footer+.panel-collapse>.panel-body {
    border-bottom-color: #d6e9c6
}
.panel-info {
    border-color: #bce8f1
}
.panel-info>.panel-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1
}
.panel-info>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #bce8f1
}
.panel-info>.panel-heading .badge {
    color: #d9edf7;
    background-color: #31708f
}
.panel-info>.panel-footer+.panel-collapse>.panel-body {
    border-bottom-color: #bce8f1
}
.panel-warning {
    border-color: #faebcc
}
.panel-warning>.panel-heading {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc
}
.panel-warning>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #faebcc
}
.panel-warning>.panel-heading .badge {
    color: #fcf8e3;
    background-color: #8a6d3b
}
.panel-warning>.panel-footer+.panel-collapse>.panel-body {
    border-bottom-color: #faebcc
}
.panel-danger {
    border-color: #ebccd1
}
.panel-danger>.panel-heading {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1
}
.panel-danger>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #ebccd1
}
.panel-danger>.panel-heading .badge {
    color: #f2dede;
    background-color: #a94442
}
.panel-danger>.panel-footer+.panel-collapse>.panel-body {
    border-bottom-color: #ebccd1
}
.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0
}
.embed-responsive.embed-responsive-16by9 {
    padding-bottom: 56.25%
}
.embed-responsive.embed-responsive-4by3 {
    padding-bottom: 75%
}
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)
}
.well blockquote {
    border-color: #ddd;
    border-color: rgba(0, 0, 0, .15)
}
.well-lg {
    padding: 24px;
    border-radius: 6px
}
.well-sm {
    padding: 9px;
    border-radius: 3px
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0
}

#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 60px;
}
#quote-carousel .carousel-indicators li {
    width: 15px;
    height: 15px;
    margin: 5px;
    cursor: pointer;
    border: 4px solid #CCC;
    border-radius: 50px;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
}
#quote-carousel .carousel-indicators .active {
    background: #333333;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    border-color: grey;
    opacity: 1;
    overflow: hidden;
}
.carousel-inner {
    min-height: 300px;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

/* Portfolio Carousel */

.hide-bullets {
list-style:none;
margin-left: -40px;
margin-top:10px;
}

.container .jumbotron{
	border-radius: 0;
	color: #046380;
	margin: 0;
}

.account-details{
	background: #444;
	box-shadow: 0px 0px 5px #444;
}

.account-details h4{
	margin: 0;
	padding: 10px;
	color: #CCC;
}

.account-details h4 span{
	color: #A7A37E;
}

.content_area{
	background: #F2F2F2;
	padding-top: 10px;
}

.single_widget{
	background: #CCC;
	margin: 10px 0px;
	border-radius: 6px;
	box-shadow: 2px 2px 0px #888;
}

.single_widget h3{
	color: #046380
}

.single_widget h4{
	color: #A7A37E;
	text-align: center;
	padding-top: 5px;
}

.single_widget .table h4{
	padding: 0;
	margin: 0;
}

.single_widget .inner_area{
	margin-top: 20px;
	background: #F2F2F2;
	border-radius: 6px;
}

.single_widget .table tr td:nth-child(1){
	text-align: right;
	width: 50%;
}

.single_widget .table tr td:nth-child(1) h4{
	text-align: right;
}

.single_widget .table tr td:nth-child(2) h4{
	text-align: left;
}

.inner_area.data_sheet{
	border-radius: 0;
	background: #EFECCA
}

.single_widget .data_sheet .table tr td{
	text-align: left;
	width: auto;
}

.single_widget .data_sheet .table tr th{
	color: #046380
}

.single_widget .table.table-striped{
	margin-bottom: 20px;
}

.single_widget .table-striped tr td{
	padding: 15px;
}

.single_widget .table_title{
	color: #046380;
	text-align: left;
}

.text_field{
	background: #F2F2F2;
	border-radius: 0;
	box-shadow: inset 0px 0px 5px #CCC;
}

.table.table-striped.form_table{
	background: #FFF
}

/*.icons span{
	padding: 5px;
	color: #888
}*/
/* ---------------------------------------------- /*
 * Modal
/* ---------------------------------------------- */
/*.portfolio-modal .modal-content {
	padding:60px 0;
	display: block;
	position:absolute;
	overflow-y: auto;
    min-height: 100%;
    width:800px;
    z-index:1500;
    margin-left:100px;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}*/
.portfolio-modal {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}
@media(min-width:1200px) {
	.restructure {
		margin-left:-80px;
	}
}
.portfolio-modal .modal-content img {
    margin-bottom: 30px;
    margin-top:30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2040;
    background-color: #000;
}

.portfolio-modal .modal-backdrop.fade {
    opacity: 0;
}

.portfolio-modal .modal-backdrop,.modal-backdrop.fade.in {
    opacity: .8;
    filter: alpha(opacity=80);
}
/* ---------------------------------------------- /*
 * Portfolio
/* ---------------------------------------------- */

.portfolio-item {
	margin-bottom: 100px;
	overflow: hidden;
}

.portfolio-item-preview {
	position: relative;
}

.portfolio-item:hover .portfolio-item-preview {
	-webkit-transform: scale(1.1) rotate(2deg);
	   -moz-transform: scale(1.3) rotate(3deg);
		-ms-transform: scale(1.3) rotate(3deg);
		 -o-transform: scale(1.3) rotate(3deg);
			transform: scale(1.2) rotate(3deg);
}

.portfolio-item:hover .portfolio-item-description {
	opacity: 1;
	bottom: 0;
}

.portfolio-item-description {
	background: rgba(255, 255, 255, .85);
	position: absolute;
	right: 0;
	bottom: -70px;
	left: 0;
	padding: 25px;
	text-align: center;
	opacity: 0;
	color: #222;
}


#portfolio .portfolio-link {
    display: block;
    position: relative;
    /* change */
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(24,188,156,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-link .caption:hover {
    opacity: 1;
}

#portfolio .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

#portfolio .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-link .caption .caption-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

/* ---------------------------------------------- /*
 * Icons
/* ---------------------------------------------- */

.icon-button {
    background-color: white;
    border-radius: 4.5rem;
    cursor: pointer;
    display: inline-block;
    font-size: 2.25rem;
    height: 4.5rem;
    line-height: 4.5rem;
    margin: 5px 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 4.5rem;
}

/* Circle */
.icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
    width: 0;
}
.icon-button:hover span {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 4.5rem;
    margin: -2.25rem;
}
/* Icons */
.icon-button i {
    background: none;
    color: white;
    height: 4.5rem;
    left: 0;
    line-height: 4.5rem;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
    width: 4.5rem;
    z-index: 10;
}
.youtube span {
    background-color: #e64a41;
}
.github span {
	background-color: black;
}
.facebook span {
    background-color: #3B5998;
}
.yelp span {
    background-color: #c41200;
}
.linkedin span {
    background-color: #0073a4;
}
.github span {
    background-color: black;
}
.fivehundred span {
    background-color: #02adea;
}
.instagram span {
    background-color: #3f729b;
}
.quora span {
    background-color: #AA2200;
}
.soundcloud span {
    background-color: #ff8800;
}
.medium span {
	background-color: #3CB371;
}
.icon-button .icon-youtube {
    color: #e64a41;
}
.icon-button .icon-facebook {
    color: #3B5998;
}
.icon-button .icon-linkedin {
    color: #0073a4;
}
.icon-button .icon-github {
    color: black;
}
.icon-button .fa-fw {
    color: #AA2200;
}
.icon-button .icon-yelp {
    color: #c41200;
}
.icon-button .icon-instagram {
    color: #3f729b;
}
.icon-button .icon-soundcloud {
    color: #ff8800;
}
.icon-button .icon-medium {
	color: #3CB371;
}
.icon-button:hover .icon-youtube,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-linkedin,
.icon-button:hover .icon-github,
.icon-button:hover .icon-medium,
.icon-button:hover .fa-fw,
.icon-button:hover .icon-instagram,
.icon-button:hover .icon-soundcloud,
.icon-button:hover .icon-yelp {
    color: white;
}

.social-box {
    width: 100%;
}

.icons {
    margin-right: auto;
    margin-left: auto;
}

.icons a {
    text-decoration: none;
}